# Нужно создать файл с расширением .env и скопировать туда содержимое этого файла
# Потом нужно поменять значения у переменных на свои
# НУЖНО ПОМЕНЯТЬ ТОЛЬКО ЗНАЧЕНИЯ, КЛЮЧИ МЕНЯТЬ НЕ НУЖНО
# ЗНАЧЕНИЯ НЕ ДОЛЖНЫ СОДЕРЖАТЬ СКОБОК, КАВЫЧЕК И Т.П.
DB_USER=user
DB_PASSWORD=password
DB_HOST=host
DB_PORT=port
DB_NAME=name