<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Game Editor</title>
  <link rel="stylesheet" href="/static/style_cons.css">
  <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.min.js"></script>
</head>
<body>

<header>
    <button id="btnMap" class="active">Карта</button>
    <button id="btnCharacters">Персонажи</button>
    <button id="btnQuests">Квесты</button>
    <button id="btnLogic">Логика</button>
</header>

<main>
  <div id="gameContainer"></div>
</main>
<script src="/static/functions/constructor.js"></script>
</body>
</html>