<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Game Editor</title>
  <link rel="stylesheet" href="/static/style_cons.css">
  <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.min.js"></script>
</head>
<body>

<header>
    <button id="btnMap" class="active">Карта</button>
    <button id="btnLogic">Логика</button>
    <button id="btnCharacters">Спрайты</button>
    <button id="btnQuests">Квесты</button>
    <button id="btnDialog">Диалог</button>
    <button id="btnScene">Сцена</button>
</header>

<main>
  <div id="gameContainer"></div>
  <div id="fileManager">
            <div id="trashZone" class="trash">
                🗑️
            </div>
            <button id="reloadBtn" class="reload">🔄</button>
        </div>
</main>

<script src="/static/functions/constructor.js"></script>


</body>
</html>