<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="/static/style_forgot_password2.css">
</head>

<body>

<div id="messageBox" class="message hidden"></div>

<div class="reset-container">
    <h2>Создание нового пароля</h2>

    <form action="/auth/update_password/" method="POST">
        <div class="form-group">
            <input type="password" id="password" name="password" required>
            <label for="password">Новый пароль</label>
        </div>

        <input type="hidden" name="token" id="token">

        <div class="form-group">
            <input type="password" id="confirm_password" name="confirm_password" required>
            <label for="confirm_password">Повторите пароль</label>
        </div>

        <button type="submit" class="btn">Отправить</button>
    </form>
</div>

<script>
    const params = new URLSearchParams(window.location.search);

    const error = params.get("error"); 
    const token = params.get("token");

    if (token){
        document.getElementById("token").value = token;
    }

    document.addEventListener('DOMContentLoaded', () => {
        const messageBox = document.getElementById('messageBox');

        if (error) {
            messageBox.textContent = error;
            messageBox.className = "notification error";
        }
    });
</script>

<script src="/static/functions/eye.js"></script>

</body>
</html>