<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Забыли пароль?</title>
  <link rel="stylesheet" href="/static/style_forgot_password1.css">
</head>
<body>

<div class="login-container">
    <h2>Восстановление пароля</h2>

    <div id="messageBox" class="message hidden"></div>

    <form action="/auth/forgot_password/" method="POST" id="resetForm">
        <div class="form-group floating">
            <input type="email" id="email" name="email" required>
            <label for="email">Email</label>
        </div>
        <button type="submit" class="btn">Отправить</button>
    </form>
</div>

<script>
    const params = new URLSearchParams(window.location.search);

    const token = params.get("token"); 
    const success = params.get("success");
    const error = params.get("error"); 

    document.addEventListener('DOMContentLoaded', () => {
        const messageBox = document.getElementById('messageBox');

        if (token) {
            window.location.href = `/auth/update_password/?token=${token}`;
        }

        else if (success) {
            messageBox.textContent = success;
            messageBox.className = "notification success";
        }

        else if (error) {
            messageBox.textContent = error;
            messageBox.className = "notification error";
        }
    });
</script>

</body>
</html>