<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход в систему</title>
  <link rel="stylesheet" href="/static/style_verify.css">
</head>
<body>
  <form action="/auth/verify-email" method="post" id="verify-email">
    <input type="hidden" name="token" value="{{ token }}">
  </form>

  {% if token %}
  <script>
    (function()
    {
      document.getElementById('verify-email').submit();
    })();
  </script>
  {% endif %}

  <div class="verify-container">
    <h1 class="verify-text">На вашу почту отправлено письмо для подтверждения</h1>
  </div>
</body>
</html>
