# Виртуальное окружение
venv/
env/
.env
.venv/

# Файлы с секретами
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Данные БД
db/data/
postgres_data/
*.db
*.sqlite3

# Логи
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
.dockerignore

# Системные
.DS_Store
Thumbs.db

# Alembic (если не хочешь пушить версии миграций)
# alembic/versions/